/* ---------------------------------- CONTACT INFORMATION ---------------------------------- */
@font-face {
  font-family: sansation_font;
  src: url('/home/paul/Documents/Projects/docx_bin/fonts/sansation/Sansation_Regular.ttf')
}

@font-face {
  font-family: crimson_font;
  src: url('/home/paul/Documents/Projects/docx_bin/fonts/crimson/opentype/Crimson-Roman.otf')
}

body {
  font-family: crimson_font;
}

ol.short_exp_lst {
/*	grid-column: 2;
	grid-row: 2;
	list-style-type: none;*/
  	margin-left: 0px;
  	padding-left: 2px;
	font-size: 12px;
	font-family: crimson_font;
}

.education_title{
	grid-column: 1;
	text-align: right;
	padding-right: 15px;
	font-size: 12px;
	font-family: sansation_font;
}

ul.edu_lst {
	grid-column: 2;
	grid-row: 1;
	list-style-type: none;
  	margin: 0px;
  	padding: 0px 0px 12px 0px;
	font-size: 12px;
	font-family: crimson_font;
}

.school{
	font-weight: bold;
}

.SMBC{
	color: green;
}

.Mizuho{
	color: blue;
}

.MUFG{
	color: red;
}

.c_name_color_style{
	color: blue;
	font-weight: bold;
}
.prof_exp_short_title_sub{
	grid-column: 2;
	grid-row: 1;
	font-size: 12px;
	font-weight: bold;
	font-family: crimson_font;
}

.short_experience{
	display: grid;     
	grid-template-columns: 110px 570px;
	/*grid-auto-rows: minmax(25, auto);*/
	grid-template-rows: 14px auto 
}

.education{
	display: grid;     
	grid-template-columns: 110px 570px;
	grid-auto-rows: minmax(25, auto);
}

.resume_eng_tp {
	display: grid;     
	grid-template-columns: 410px 270px;
	grid-auto-rows: minmax(25, auto);
                                                                
}

.resume_eng_motive {
	display: grid;     
	grid-template-columns: 110px 570px;
	/*grid-auto-rows: minmax(25, auto);*/
	grid-template-rows: auto 14px 
                                                                
}

.resume_eng_exp {
	display: grid;     
	grid-template-columns: 110px 400px 170px;
	grid-auto-rows: minmax(14, auto);
	/*grid-template-rows: 12px 12px 12px 12px*/
}

.resume_eng_exp_cont {
	display: grid;     
	grid-template-columns: 110px 400px 170px;
	grid-auto-rows: minmax(14, auto);
}

.resume_eng_education {
	display: grid;     
	grid-template-columns: 110px 400px 170px;
	/*grid-auto-rows: minmax(25, auto);*/
	grid-template-rows: 14px 14px 14px 
}                                                                

.resume_eng_skills{
	display: grid;     
	grid-template-columns: 110px 570px;
	/*grid-auto-rows: minmax(25, auto);*/
	grid-template-rows: auto 14px 
}                                                                

.resume_eng_add_exp{
	display: grid;     
	grid-template-columns: 110px 570px;
	/*grid-auto-rows: minmax(25, auto);*/
	grid-template-rows: 14px auto 14px 
}                                                                

hr{
	width: 680px;
	margin-left: 0
}

.prof_exp_short{
	grid-column: 2;
	grid-row: 2;
	text-align: left;
	font-size: 12px;
}
.prof_exp_short_title{
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 4;
	text-align: right;
	padding-right: 15px;
	font-size: 12px;
	font-family: sansation_font;
}

.add_exp_head{
	grid-column: 2;
	grid-row : 1;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.add_exp_list{
	grid-column: 2;
	grid-row : 2;
	text-align: left;
	font-size: 12px;
}

.skills_title{
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	text-align: right;
	padding-right: 15px;
	font-size: 12px;
	font-family: sansation_font;
}

.skills{
	grid-column: 2;
	grid-row : 1;
	text-align: left;
	font-size: 12px;
}

.edu_title {
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	text-align: right;
	padding-right: 15px;
	font-size: 18px;
	font-family: sansation_font;
}

.school_name{
	grid-column: 2;
	grid-row : 1;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.major{
	grid-column: 2;
	grid-row : 2;
	text-align: left;
	font-size: 12px;
}

.location{
	grid-column: 3;
	grid-row : 1;
	text-align: right;
	font-size: 12px;
}

.date{
	grid-column: 3;
	grid-row : 2;
	text-align: right;
	font-size: 12px;
}

.prof_motive_title {
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	text-align: right;
	padding-right: 15px;
	font-size: 12px;
	font-family: sansation_font;
}

.prof_exp_title{
	grid-column: 1;
	grid-row-start : 1;
	grid-row-end : 3;
	text-align: right;
	padding-right: 15px;
	/*font-size: 18px;*/
	font-size: 12px;
	font-family: sansation_font;
}

.name{
	vertical-align: baseline;
	grid-column: 1;
	grid-row-start : 1;
	grid-row-end : 5;
        font-size: 30px;
}

.prof_exp_co_name{
	grid-column: 2;
	grid-row : 1;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

.prof_exp_position{
	grid-column: 2;
	grid-row : 2;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

.prof_exp_co_location{
	grid-column: 3;
	grid-row : 1;
	text-align: right;
	font-size: 12px;
}

.prof_exp_hr_agency_location{
	grid-column: 3;
	grid-row : 1;
	text-align: right;
	font-size: 12px;
}


.b-point{
	list-style-type: square;
  	margin-left: 12px;
  	padding-left: 2px;
}

.sbp-point{
	list-style: none;
  	margin-left: 0;
  	padding-left: 2px;
}

.sbp-point li::before {
  		content: "-"; /* Insert content that looks like bullets */
  		/* content: "•"; Insert content that looks like bullets */
  		margin-left: 0px;
		padding-right: 8px;
		color: blue; /* Or a color you prefer */
}

.prof_exp_dates{
	grid-column: 3;
	grid-row : 2;
	text-align: right;
	font-size: 12px;
	font-style: italic;
}

.prof_exp_paragraph_det{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row : 5;
	text-align: left;
	font-size: 12px;
}

.prof_exp_paragraph_note{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row : 6;
	text-align: left;
	font-size: 12px;
}

.prof_exp_paragraph_desc{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row : 4;
	text-align: left;
	font-size: 12px;
}

.prof_motive{
	grid-column: 2;
	grid-row : 1;
	text-align: left;
	font-size: 12px;
}

.address_1{
	grid-column: 2;
	grid-row : 2;
	text-align: right;
	font-size: 12px;
}

.address_2{
	grid-column: 2;
	grid-row : 3;
	text-align: right;
        font-size: 12px;
}

.address_3{
	grid-column: 2;
	grid-row : 4;
	text-align: right;
        font-size: 12px;
}

.email{
	grid-column: 2;
	grid-row : 5;
	text-align: right;
        font-size: 12px;
}

.sns_links{
	grid-column: 2;
	grid-row : 6;
	text-align: right;
        font-size: 12px;
}
