table
{
  border-collapse: collapse;
  width: 80%;
}

table.preamble
{
  width: 50%;
}

h1
{
    text-align: center;
    font-family: ＭＳ 明朝;MS Mincho;
    font-size: 14px;
}

h2
{
    font-family: ＭＳ 明朝;MS Mincho;
    font-size: 10px;
}
p.name-date
{
    font-family: ＭＳ 明朝;MS Mincho;
    font-size: 10px;
    text-align: right;
}

tr.head
{
    height: 20px;
    text-align: left;
    background-color: #f2f2f2;
    border-width: medium;
    font-family: ＭＳ 明朝;MS Mincho;
    font-size: 11px;
}

tr.sub-head
{
    background-color: #f2f2f2;
    font-family: ＭＳ 明朝;MS Mincho;
    font-size: 10px;
}

.date-position, .jisseki, .pr, .jigyou-emp-status, .overview
{
    font-family: ＭＳ 明朝;MS Mincho;
    font-size: 10px;
}

